<div layout="column">
  <md-toolbar layout-padding>
    <h2>Toolbar</h2>
  </md-toolbar>
  <md-content flex layout-padding layout="row">


    <div flex="5" hide-sm hide-xs></div>
    <div flex layout="column">
      <div ng-repeat="item in [1,2,3]">
        <div class="md-display-3">Header of article</div>
        <div class="md-display-1">Short description for this article</div>
        <div class="md-headline">Posted by Start Bootstrap on September 24, 2014</div>
        <md-divider ng-if="!$last"></md-divider>
      </div>
    </div>
    <div flex="5" hide-sm hide-xs></div>
  </md-content>
</div>
